/* GENERAL */
/* body {
    background: url(patrick-tomasso-Oaqk7qqNh_c-unsplash.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

body, html {
    height: 100%;
    background-image: url(andrew-ridley-jR4Zf-riEjI-unsplash.jpg);;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px); 
}

/* HEADER */
header {
    position: relative;
    display: flex;
    justify-content: start;
    padding: 5px 15px;
    background-color: rgba(117, 144, 163, 0.5);
}

#myBtn {
    position: absolute;
    bottom: 10px;
    left: 25px;
    padding: 10px 30px 10px 10px;
    font-size: 20px;
    font-family: 'Lora', serif;
    color: white;
    background-color: rgba(149, 231, 208, 0.9);
    border-radius: 3px;
    cursor: pointer;
    border: none;
    outline: none;
}

#myBtn::before {
    content: "+ ";
    transition: 0.5s;
    opacity: 0;
}

#myBtn:hover::before {
    padding-left: 1rem;
    opacity: 1;
}

header h1 {
    font-family: 'Lora', serif;
    font-size: 50px;
    margin: 30px 50px 50px 10px;
    color: whitesmoke;
}

/* TABLE */
table { 
    table-layout: fixed; 
    width: auto;
    margin-top: 3%;
    margin-bottom: 20%;
    margin-left: 5%; 
    margin-right: 5%;
    justify-content: center; 
    border: 5px;
    border-radius: 10px;
    background-color: rgb(144, 142, 146, 0.9);
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    text-align: center;
    font-family: 'Lora', serif;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

table td {
    width: auto; 
    height: auto; 
    font-family: 'Lora', serif;
    border-radius: 20px;
    /* color: black; */
    /* background-color: white; */
    /* box-shadow: 0 1px 0 0 rgba(0,0,0,0.3), 0 5px 10px 0 rgba(0,0,0,0.20); */
}

  

/* THE MODAL */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    align-items: center;
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    align-items: left;
}
  
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* FOOTER */
footer div {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 5px 5px;
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    background-color: rgba(117, 144, 163, 0.5);
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(67, 95, 187);
}